
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    html, body {
        height: 100%; /* Ensure both html and body cover the full viewport height */
        margin: 0;
        padding: 0;
      }
      
      body {
        background-image: url(images/bg-main-desktop.png);
        background-size: cover; /* Makes the background cover the entire page */
        background-repeat: no-repeat;
        background-position: center; /* Optionally center the background */
        max-width: 1440px;
      }
      
.main{
  display: flex;
  
}
.primary{
    width: 30%;
    margin-top: 20px;
}
.primary img{
  position: relative;
  margin: 20px;
  width: 370px;
  height: 210px;
}
.primary input:active {
  linear-gradient(to bottom, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

.primary input:invalid {
  border-color: hsl(0, 100%, 66%);
}
#font{
  margin-left: 250px;
}
#back{
  margin-left: 380px;
}

.neutral {
    height: 100vh;
    width: 70%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container{
  margin-top: 150px;
  margin-left: 400px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  
}
.content input ,#cvc{
  width: 100%;
  height: 32px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #c4c4c4;
  padding: 0 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
label{
  display: block;
  margin-bottom: 5px;
  color:  hsl(278, 68%, 11%);
  font-size: 10px;
  font-family:"Space Grotesk", sans-serif;
  font-weight: 500;
  padding: 2 px;
}
.container1{
    display: flex;
}
.dates{
    display: block;
    width: 50%;
    margin-bottom: 15px;
}
.dates input{
  width: 50px;
  height: 32px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #c4c4c4;
  padding: 0 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    
}
.input1{
    display: flex;
    width: 40%;
    gap: 12px;
}
.cvc{
    width: 50%;
}
button{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #c4c4c4;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    cursor: pointer;
}
.cardcontent{
    position: relative;
    margin-top: -460px;
    margin-left: 270px;
}
.circles {
    display: flex;
    gap: 10px; 
    align-items: center;
  }
  
  .circle1{
    width: 28px;
    height: 28px;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 50%;
  }
  .circle2 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1.5px solid hsl(0, 0%, 100%);
  }
 
  .cardnumber{
    display: flex;
    gap: 7px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
 .cardnumber span{
    color:hsl(0, 0%, 100%) ;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  font-variant-numeric: tabular-nums;
  letter-spacing: 4px;
  font-size: 18px;
  font-weight: 500;
 }

 .identity{
    display: flex;
    gap: 50px;
    margin-top: 35px;
 }
.names{
    display: flex;
    gap: 10px;
    color:hsl(270, 3%, 87%) ;
    font-family: 'Space Mono', monospace;
    width: 50%;
}
.exp {
    flex: 1; /* takes available space */
    display: flex;
    justify-content: flex-end;
    margin-left: 160px;
    color:hsl(270, 3%, 87%) ;   font-family: 'Roboto', sans-serif;
    font-variant-numeric: tabular-nums;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
   }
 .cvcnumber{
    margin-left: 660px;
    position: relative;
    margin-top: 178px;
    
    color:hsl(270, 3%, 87%) ;   font-family: 'Roboto', sans-serif;
    font-variant-numeric: tabular-nums;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
 }

  @media(max-width:372px){

 }